Ex2/Task6-DTD.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT games (game)>
<!ELEMENT game (home-team, ex-team, scores, yellows,reds)>
<!ATTLIST game result CDATA #REQUIRED>
<!ELEMENT home-team (#PCDATA)>
<!ELEMENT ex-team (#PCDATA)>
<!ELEMENT scores (score+)>
<!ELEMENT score (player,time)>
<!ELEMENT player (#PCDATA)>
<!ELEMENT time (#PCDATA)>
<!ELEMENT yellows (player+)>
<!ELEMENT reds (player+)>